{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Silo Check
  </h3>
  <p>
    David Roche
  </p>
  <p>
    IOT projects Assessment 2 SETU Waterford
  </p>
</section>