{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Kilderry Silo Check V01
  </h1>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <img class="ui medium image" src="https://cdn.glitch.global/60494b54-4122-43dd-ac8f-fdeb417d7d29/LoGo0016.png?v=1670791773933">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p>
          <img class="ui medium image" src="https://cdn.glitch.global/60494b54-4122-43dd-ac8f-fdeb417d7d29/-silo-milk-storage-tank-dairy%20(2).jpg?v=1670791936559">
        </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui medium image" src="https://cdn.glitch.global/60494b54-4122-43dd-ac8f-fdeb417d7d29/LoGo0016.png?v=1670791773933">
      </div>
    </div>
  </div>
</section>