{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Silo Check V01
  </h1>
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        <p>
          <img class="ui medium image" src="https://cdn.glitch.global/60494b54-4122-43dd-ac8f-fdeb417d7d29/-silo-milk-storage-tank-dairy%20(2).jpg?v=1670791936559">
        </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p>
        <h2>
          Welcome to silo check, This is a prototype Web-app written by David Roche as part of an IOT project for HDip in Computer Science  2022 in SETU Waterford.
      </h2>
        </p>
      </div>
    </div>

  </div>
</section>