{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
   Silo ID :{{ silo.config.siloID }} / Current Volume : {{ volume }} Liters
  </h2>
  {{> listreadings}}
  {{> trendchart}}
</section>