<!DOCTYPE html>
<html>
  <head>
    <title>Silo Check Prototype Local API Interface</title>
    <link rel="stylesheet" href="/staticfiles/style.css">
	<script>
        function setOn() {
            navigator.sendBeacon("http://127.0.0.1:5000/iolink/agitator?state=on");
        }

        function setOff() {
            navigator.sendBeacon("http://127.0.0.1:5000/iolink/agitator?state=off");
        }
    </script>
  </head>
  <body>
	<div class="header">
			<h1> Local Web Access Page for Silo </h1>
			<img src="/staticfiles/banner.png" />
	  </div>
	 
<div class="row">
  <div class="column1">
    <h2>Silo 1001 Local Data Summary</h2>
	<img class="image_1" src="/staticfiles/silo.jpg" />
  </div>
  
  <div class="column2">
    <h2>Readings</h2>
    <p><strong>Celsius:</strong> {{ celcius }}</p>
	<p><strong>Fahrenheit:</strong> {{ fahrenheit }}</p>
	<p><strong>Level mm:</strong> {{ level }}</p>
  </div> 
   <div class="column3">
    <h2>Agitator Control</h2>
	<p> <input type=button onclick= "setOn()" value='Agaitator On'></p>
    <p><input type=button onclick= "setOff()" value='Agaitator Off'></p>
  </div>
</div>

    <h2>API Description</h2>
    <p>For use by developers...</p>
    <table>
        <thead>
            <tr>
                <th>Resource/Path</th>
                <th>GET</th>
                <th>POST</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>/iolink/environment</td>
                <td>Current Tank Data</td>
                <td>Not Used</td>
            </tr>
            <tr>
                <td>/iolink/agitator</td>
                <td>Current agitator state(i.e. on/off)</td>
                <td>Change agitator state using status query parameter. <br>
                    e.g. curl -X POST http://YOUR_PI_IP:5000/iolink/agitator?state=on</td>
            </tr>
        </tbody>
    </table>
	
	
  </body>
</html>
