<!doctype html>

<html>

<head>
    <title>Tank Check Prototype</title>
    <link href="https://mattduck.github.io/generic-css/css/generic-light.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h1>Silo 1 Local Data Summary</h1>
    <h2>Silo 1 Data</h2>
    <p><strong>Celcius:</strong> {{ celcius }}</p>
    <p><strong>Fahrenheit:</strong> {{ fahrenheit }}</p>
    <p><strong>Level:</strong> {{ level }}</p>

    
    <script>
        function setOn() {
            navigator.sendBeacon("http://127.0.0.1:5000/iolink/agitator?state=on");
        }

        function setOff() {
            navigator.sendBeacon("http://127.0.0.1:5000/iolink/agitator?state=off");
        }
    </script>
    <h2>Silo 1 Agiator Control </h2>
    <p> <input type=button onclick= "setOn()" value='Agaitator On'></p>
    <p><input type=button onclick= "setOff()" value='Agaitator Off'></p>
    <h2>API Description</h2>
    <p>For use by developers...</p>
    <table>
        <thead>
            <tr>
                <th>Resource/Path</th>
                <th>GET</th>
                <th>POST</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>/iolink/environment</td>
                <td>Current Tank Data</td>
                <td>Not Used</td>
            </tr>
            <tr>
                <td>/iolink/agitator</td>
                <td>Current agitator state(i.e. on/off)</td>
                <td>Change agitator state using status query parameter. <br>
                    e.g. curl -X POST http://YOUR_PI_IP:5000/iolink/agitator?state=on</td>
            </tr>
        </tbody>
    </table>
</body>

</html>