<div class="ui three doubling inverted cards">
  <! –– Tile 1 -->
  {{> farm-panel-tile
    title   ="Silo Level"
    icon   = "big water icon white"
    captionA = "Silo Level   (mm) : " valueA = readings.[9].level_mm
    captionB = "Capacity (ltr): " valueB = config.max_ltr
    xShowSwitch = 0
  }}
  <! –– Tile 3 -->
  {{> farm-panel-tile
    title   ="Temp"
    icon   = "big temperature low icon yellow"
    captionA ="Deg C :" valueA = readings.[9].temperature
    xShowSwitch = 0
  }}
  <! –– Tile 4 -->
  {{> farm-panel-tile
    title   ="Agitator"
    icon   = "big cog icon gray"
    captionA ="Running : " valueA =readings.[9].actuator_state
    value-on = readings.[9].actuator_state
    value-off = readings.[9].actuator_state
    idFarm = config.siloID
    xShowSwitch = 1
  }}
  <! –– ----- -->

</div>