<div class="ui four doubling inverted cards">
  <! –– Tile 1 -->
  {{> farm-panel-tile
    title   =name
    icon   = "left floated big map marker icon blue"
    captionA ="Lat :" valueA = latitude
    captionB ="Lon :" valueB = longitude
    showLinkBtn = "True"
  }}
  <! –– Tile 2 -->
  {{> farm-panel-tile
    title   ="Silo Level"
    icon   = "big water icon white"
    captionA = "Silo % of Max :" valueA = current_level_pc
  }}
  <! –– Tile 3 -->
  {{> farm-panel-tile
    title   ="Temp"
    icon   = "big temperature low icon yellow"
    captionA ="Deg C :" valueA = current_temp_c
  }}
  <! –– Tile 4 -->
  {{> farm-panel-tile
    title   ="Actuator"
    icon   = "big cog icon gray"
    captionA ="Running : " valueA = current_actuator_on
    value-on = current_actuator_on
    value-off = current_actuator_off
    idFarm = id
  }}
  <! –– ----- -->
</div>